/* rodapé */
.footer{
    background-color: #532614;
    width: 100%;
    height: auto;
}

#map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 550px;
    border-radius: 10px;
}

#title-footer{
    text-align: center;
    font-size: 10vmin;
    margin: 30px 0;
}

#main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-footer{
    text-align: center;
    width: 25%;
    height: auto;
    margin: 30px 0;
}

.box-footer li{
    display: flex;
    flex-direction: column;
}

.box-txt-footer{
    font-size: 5vmin;
}

.box-footer li a{
    color: #fff;
    font-size: 4vmin;
    text-decoration: none;
}