.header{
    width: 100%;
    height: auto;
    background-color: #642e18;
}

.inf{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    background-color: #532614;
}

.inf a{
    text-decoration: none;
    color: #ddd;
    font-size: 3vmin;
    transition: .4s;
}

.inf a:hover{
    border-bottom: 1px solid #ddd;
}