#menu{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #5a2a16;
}

#menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

#menu ul li a{
    color: #ddd;
    text-decoration: none;
    font-size: 4vmin;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    transition: .4s;
}

#menu ul li a:hover{
    background-color: #1414145e;
}